<?xml version="1.0" encoding="utf-8"?>
<robot name="rover" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link
    name="rover_lidar">
    <inertial>
      <origin
        xyz="-0.00110976314335211 -0.00117508767024144 -0.0106493236697326"
        rpy="0 0 0" />
      <mass
        value="0.0435461638378673" />
      <inertia
        ixx="1.64404780796661E-05"
        ixy="7.04148080155826E-07"
        ixz="1.08649686522446E-07"
        iyy="1.44261963923736E-05"
        iyz="5.42266810613629E-08"
        izz="2.938968005204E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/rover_lidar.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rover_description/meshes/rover_lidar.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_to_base"
    type="fixed">
    <origin
      xyz="0 0 0.104"
      rpy="0 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="rover_lidar" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>