<launch>
	<arg name="rvizconfig" default="$(find rover_description)/rviz/rover_navigation.rviz" />
	<arg name="model" default="$(find rover_description)/urdf/rover.xacro" />
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="false" />
	<include file="$(find rover_navigation)/launch/rover_navigation.launch" />
</launch>