<launch>
	<param name="robot_description" command="$(find xacro)/xacro '$(find rover_description)/urdf/rover.xacro' --inorder" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />
	<include file="$(find rover_firmware)/launch/rover_driver.launch" />
	<include file="$(find rover_base)/launch/rover_base.launch" />
	<include file="$(find rover_control)/launch/rover_control.launch" />
	<include file="$(find rover_teleop)/launch/rover_teleop.launch" />
</launch>